# =========================
# PYTHON
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd


# =========================
# ENTORNOS VIRTUALES
# =========================

venv/
.venv/


# =========================
# PYINSTALLER
# =========================

build/
dist/


# =========================
# EJECUTABLES Y ACTUALIZACIONES
# =========================

*.exe
*.zip
UPDATE.zip
PAPELERA_POS_update.zip


# =========================
# ARCHIVOS INTERNOS GRANDES
# =========================

_internal/


# =========================
# BASE DE DATOS LOCAL
# =========================

*.db


# =========================
# TICKETS Y ARCHIVOS GENERADOS
# =========================

tickets/
backups/


# =========================
# TEMPORALES
# =========================

*.log
*.tmp


# =========================
# ARCHIVOS DE PRUEBA GRANDES
# =========================

prueba.zip
codigo_completo.txt
venv311/
build/
dist/
__pycache__/
