.menu{

width:220px;
min-height:100vh;
background:#0f172a;
padding:20px;
box-sizing:border-box;

}


.menu h1{

color:white;
text-align:center;
margin-bottom:30px;

}


.menu a{

display:block;
color:white;
text-decoration:none;
padding:12px;
border-radius:10px;
margin-bottom:5px;
font-weight:bold;

}


.menu a:hover{

background:#1e293b;

}



@media(max-width:700px){

.menu{

width:100%;
min-height:auto;

}


.menu a{

display:inline-block;

}

}